[submodule "projects/N18_pilot/equiangular17"]
	path = projects/N18_pilot/equiangular17
	url = https://github.com/grwgrvs/equiangular17.git
[submodule "projects/N18_pilot/equiangular18"]
	path = projects/N18_pilot/equiangular18
	url = https://github.com/grwgrvs/equiangular18.git
[submodule "projects/farey-extremes/validation_exdex/exdex"]
	path = projects/farey-extremes/validation_exdex/exdex
	url = https://github.com/paulnorthrop/exdex.git
